<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/transportes.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">

    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />


</head>

<body>
    <header>
        <div>
            <img src="/images/logo.png" alt="Transportes" width="100">
            <h1>Transportes X</h1>
        </div>

    </header>



    <main class="holder">

        <div class="container margenes">
            <div class="row">
                <div class="col">
                    <form action="/admin/login" method="post" />
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                        <input type="text" class="form-control" placeholder="Usuario" name="usuario">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
                    </div>
                    </form>
                </div>

            </div>
        </div>


    </main>


    <footer>
        <p>Hecho por Lucía Iribarren - 2022</p>


    </footer>
</body>

</html>