<div>
<h2>Contacto Rapido</h2>

<form action="" method="" class="formulario">
<p> 
    <label for="">Nombre</label>
    <input type="text">

</p>

<p>
<label for="">Email</label>
<input type="email">

</p>

<p>
  <label for=""> Telefono </label>  
 <input type="number">
</p>

<p>

    <label for="">Mensaje</label>
    <textarea name="" id="" ></textarea>
 </p>


<p>
<input type="submit" value="Enviar">

</p>


</form>

<div class="datos">
<h2>Otras Opciones</h2>

<p>Tambien piede contactarnos por:</p>

<ul>
<li>  Telefono: 12345667  </li>
<li>  Instagram:lulu122   </li>
<li>  Mail                </li>

</ul>

</div>

</div>
