<div>
<h2>Contacto Rapido</h2>

<form action="/contacto" method="post" class="formulario">
<p> 
    <label for="">Nombre</label>
    <input type="text" name="nombre">

</p>

<p>
<label for="">Email</label>
<input type="email" name="email">

</p>

<p>
  <label for=""> Telefono </label>  
 <input type="number" name="telefono">
</p>

<p>

    <label for="">Mensaje</label>
    <textarea name="comentario" id="" ></textarea>
 </p>


<p>
<input type="submit" value="Enviar">

</p>


</form>


<p>{{message}}</p>  

<div class="datos">
<h2>Otras Opciones</h2>

<p>Tambien puede contactarnos por:</p>

<ul>
<li>  Telefono: 12345667  </li>
<li>  Instagram:lulu122   </li>
<li>  Mail                </li>

</ul>

</div>

</div>
