<section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores alias excepturi harum obcaecati ex
                quisquam, velit delectus in accusantium incidunt, eligendi, labore sapiente deleniti quae praesentium
                aperiam blanditiis unde. Officiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eos quasi reiciendis doloremque tempora,
                inventore qui quo, suscipit beatae laudantium iure alias officia, similique et culpa! Aut qui placeat
                eveniet.</p>

        </section>

        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    
                    <h5>JUAN GOMEZ</h5>
                    <h6>GERENTE GENERAL</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae voluptatem est aperiam rem,
                        reiciendis quisquam cumque, tempore veritatis nobis tenetur perspiciatis non itaque laboriosam
                        impedit quidem omnis voluptatibus labore molestias?</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Roxanna Calavera">
                    
                    <h5>Roxanna Calavera</h5>
                    <h6>Experta en Armas</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae voluptatem est aperiam rem,
                        reiciendis quisquam cumque, tempore veritatis nobis tenetur perspiciatis non itaque laboriosam
                        impedit quidem omnis voluptatibus labore molestias?</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    
                    <h5>Nicolas Facundo Ramirez</h5>
                    <h6>Otaku</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae voluptatem est aperiam rem,
                        reiciendis quisquam cumque, tempore veritatis nobis tenetur perspiciatis non itaque laboriosam
                        impedit quidem omnis voluptatibus labore molestias?</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                    
                    <h5> Dra.Eugenia Wilson</h5>
                    <h6>Especialista en Ciencias Exactas</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae voluptatem est aperiam rem,
                        reiciendis quisquam cumque, tempore veritatis nobis tenetur perspiciatis non itaque laboriosam
                        impedit quidem omnis voluptatibus labore molestias?</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                    
                    <h5>Martín Lopez</h5>
                    <h6>Colecciona tapas de Coca Cola </h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae voluptatem est aperiam rem,
                        reiciendis quisquam cumque, tempore veritatis nobis tenetur perspiciatis non itaque laboriosam
                        impedit quidem omnis voluptatibus labore molestias?</p>
                </div>

            </div>

        </section>