 <h2>Novedades</h2>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque accusamus, eius labore voluptatum
                voluptatem ad natus qui pariatur, maxime nostrum dolorum veritatis doloribus officia repellendus
                aliquid? Ipsam, sapiente officia.</p>
            <hr/>

        </div>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque accusamus, eius labore voluptatum
                voluptatem ad natus qui pariatur, maxime nostrum dolorum veritatis doloribus officia repellendus
                aliquid? Ipsam, sapiente officia.</p>
            <hr/>

        </div>

        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque accusamus, eius labore voluptatum
                voluptatem ad natus qui pariatur, maxime nostrum dolorum veritatis doloribus officia repellendus
                aliquid? Ipsam, sapiente officia.</p>
            <hr/>

        </div>