<h2>Servicios</h2>

        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="avion">
            <div class="info">
                <h4>Transportes Aereo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti veritatis quisquam saepe,
                    nostrum, iusto suscipit aspernatur dolorum at quia iste, quibusdam minima laboriosam similique? Ea a
                    similique perspiciatis ratione!</p>
            </div>
        </div>


        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="ferroviario">
            <div class="info">
                <h4>Transportes Ferroviario</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti veritatis quisquam saepe,
                    nostrum, iusto suscipit aspernatur dolorum at quia iste, quibusdam minima laboriosam similique? Ea a
                    similique perspiciatis ratione!</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="maritimo">
            <div class="info">
                <h4>Transportes Maritimo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti veritatis quisquam saepe,
                    nostrum, iusto suscipit aspernatur dolorum at quia iste, quibusdam minima laboriosam similique? Ea a
                    similique perspiciatis ratione!</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/terrestre.jpg" alt="terrestre">
            <div class="info">
                <h4>Transportes Terrestre</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti veritatis quisquam saepe,
                    nostrum, iusto suscipit aspernatur dolorum at quia iste, quibusdam minima laboriosam similique? Ea a
                    similique perspiciatis ratione!</p>
            </div>
        </div>